<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ikgluyorgikrgikhureg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B2509A81B462C5500B53E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2509BE1B462C5600B53E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2509C91B462C5600B53E60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
